<!--
    Sitecore using statements.
    Redacted for demo purposes
-->

<!--Race Search and Results Start-->
<div class="row race-search-res-container">
    <div class="race-search-res-div-main col-xs-12">
        <div class="race-search-text-div col-xs-12">
            <h3>Search Results</h3>
        </div>
        <div class="race-search-main col-xs-12">
            <div class="race-search-img-container">
                <figure class="col-xs-12 col-sm-6 col-md-5">
                    <img class="race-search-img" />
                </figure>
            </div>
            <div class="race-search-date-info-div col-xs-12">
                <p>Date From - Date To</p>
                <p>To find your results the quickest, please enter your bib number.</p>
            </div>
            <div class="race-search-div col-xs-12">
                <div class="race-search-form-container">
                    <form class="race-search-form col-xs-12 col-sm-8">
                        <fieldset class="race-options">
                            <ol class="search-filter-list">
                                <li>
                                    <input type="text" class="btn-block" placeholder="First Name" id="firstName" />
                                </li>
                                <li>
                                    <input type="text" class="btn-block" placeholder="Last Name" id="lastName" />
                                </li>
                                <li>
                                    <select class="gender-ddl btn-block">
                                        <option selected>- Gender -</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>

                                </li>
                                <li>

                                    <select class="state-ddl btn-block">
                                        <option selected>- State -</option>
                                        <option value="allStates">All States</option>
                                        @for (int i = 0; i < 51; i++)
                                        {
                                            string StateValue = "State" + i;

                                            <option value="@StateValue">State @i</option>
                                        }
                                    </select>
                                </li>
                                <li>
                                    <input type="text" class="btn-block" placeholder="Runner Number (bib)" />
                                </li>
                                <li>
                                    <input type="text" class="btn-block" placeholder="City" />
                                </li>
                                <li>
                                    <select class="dist-ddl btn-block">
                                        <option selected>- Distance -</option>
                                        <option value="dist10K">10K</option>
                                        <option value="dist5K">5K</option>
                                        <option value="distHalfMarathon">Half-Marathon</option>
                                        <option value="distMarathon">Marathon</option>
                                        <option value="dist1MI">1 Mile</option>
                                        <option value="distWheelchair10K">10K - Wheelchair</option>
                                        <option value="distWheelchairHalfMarathon">Half-Marathon - Wheelchair</option>
                                        <option value="distWheelchairMarathon">Marathon - Wheelchair</option>
                                    </select>
                                </li>
                                <li>
                                    <select class="div-ddl btn-block">
                                        <option selected>- Division -</option>
                                        <option value="allDivisions">All Divisions</option>
                                        @for (int i = 0; i < 51; i++)
                                        {
                                            string DivisionValue = "Division" + i;

                                            <option value="@DivisionValue">Division @i</option>
                                        }
                                    </select>
                                </li>
                            </ol>
                        </fieldset>
                        <fieldset class="search-reset-correction col-xs-12">
                            <div class="search-reset-div">
                                <span class="col-xs-12 col-sm-5">
                                    <button type="submit" class="btn btn-block red-grad-btn search-btn">Search</button>
                                </span>
                                <span class="col-xs-12 col-sm-5">
                                    <a class="btn-block search-reset-btn">Reset</a>
                                </span>
                            </div>
                            <div class="correction-div">
                                <div class="col-xs-12">
                                    <a class="btn-block search-reset-correction">Submit a Correction</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="race-results-res-div-main col-xs-12"> 
        <div class="race-search-text-div col-xs-12">
            <h3>Leaderboards</h3>
        </div>
        <div class="col-xs-12">
            <ul class="lb-btn-div"> 
                <li><a class="btn btn-block filter-btn">Marathon</a></li>
                <li><a class="btn btn-block filter-btn">Half Marathon</a></li>
                <li><a class="btn btn-block filter-btn">10K</a></li>
                <li><a class="btn btn-block filter-btn">5K</a></li>
                <li><a class="btn btn-block filter-btn">Half Marathon - Wheelchair</a></li>
                <li><a class="btn btn-block filter-btn">10K - Wheelchair</a></li>
            </ul>
        </div>
        <div class="col-xs-12">
            <div class="race-search-top10-div">
                <table class="table table-responsive table-bordered female-table">
                    <tr>
                        <th class="table-header" colspan="3">Top Females</th>
                    </tr>
                    <tr>
                        <th class="table-place">Gender PL</th>
                        <th class="table-name">Name</th>
                        <th class="table-time">Time</th>
                    </tr>
                    @for (int f = 1; f < 10; f++)
                    {
                        <tr>
                            <td>@f</td>
                            <td>Female @f</td>
                            <td>HH:MM:SS</td>
                        </tr>
                    }
                </table>
                <table class="table table-responsive table-bordered male-table">
                    <tr>
                        <th class="table-header" colspan="3">Top Males</th>
                    </tr>
                    <tr>
                        <th class="table-place">Gender PL</th>
                        <th class="table-name">Name</th>
                        <th class="table-time">Time</th>
                    </tr>
                    @for (int m = 1; m < 10; m++)
                    {
                        <tr>
                            <td>@m</td>
                            <td>Male @m</td>
                            <td>HH:MM:SS</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<!--Race Search and Results End-->