<!--
    Sitecore using statements.
    Redacted for demo purposes
-->

<!--Sales Page Start-->
<div class="row sales-container">
    <div class="sales-filter-container col-xs-12">
        <div class="col-xs-12 col-sm-3 red-bg filter-txt">
            <p>Filter by:</p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <button class="btn btn-block sale-btn date-btn" type="button" name="sales-daterange">Dates <i class="fa fa-caret-down" aria-hidden="true"></i></button>
        </div>
        <div class="col-xs-12 col-sm-3">
            <button class="btn btn-block sale-btn city-btn dropdown-toggle" type="button" data-toggle="dropdown">City <i class="fa fa-caret-down" aria-hidden="true"></i></button>
            <select class="dropdown-menu sales-dropdown" multiple>
                <option>All Events</option>
                @for (int i = 0; i < 10; i++)
                {
                    <option>Event @i</option>
                }
            </select>
        </div>
        <div class="col-xs-12 col-sm-3">
            <button class="btn btn-block sale-btn dist-btn dropdown-toggle" type="button" data-toggle="dropdown">Distance <i class="fa fa-caret-down" aria-hidden="true"></i></button>
            <select class="dropdown-menu sales-dropdown" multiple>
                <option>All Distances</option>
                @for (int i = 0; i < 4; i++)
                {
                    <option>Distance @i</option>
                }
            </select>
        </div>
    </div>
    @for (int i = 0; i < 10; i++)
    {
        <div class="col-xs-12 sales-row-container">
            @{
                string specialDetailsId = "special-details" + i;
                string specialDetailsTarget = "#special-details" + i;
            }
            <div class="col-xs-12 col-sm-3 img-container">
                <div class="sales-img-block">
                    <img class="sales-img" />
                </div>
                <div class="sales-img-carousel">
                    <!--I'm just leaving this blank for the SiteCore stuffs that needs to be inputted here-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 sales-info-container">
                <div class="row">
                    <p class="sales-slogan-txt">Slogan text hyping up the event</p>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <div class="sales-city-div">
                            <h3>City Name</h3>
                            <p>Date, Year</p>
                        </div>
                        <div class="hr-container">
                            <hr class="sales-dist-hr" />
                        </div>
                        <div class="sales-dist-sel-div">
                            <ul class="sales-dist-sel">
                                <li><a>26.2</a></li>
                                <li><a>13.1</a></li>
                                <li><a>10K</a></li>
                                <li><a>5K</a></li>
                                <li><a>1MI</a></li>
                                <li><a>Kids</a></li>
                            </ul>
                        </div>
                        <div class="hr-container">
                            <hr class="sales-dist-hr" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 sales-price-container">
                        <div class="col-xs-12 sales-special-info">
                            <div class="row">
                                <div class="col-sm-12 col-md-7 sales-special-div">
                                    <p class="sales-special-top">Specials Info</p>
                                    <p class="sales-special-bottom">Savings Info</p>
                                </div>
                                <div class="col-sm-12 col-md-5 sales-price-div">
                                    <span class="sales-price">$$$$$<sup>$$</sup></span>
                                </div>
                            </div>
                            <div class="row">
                                <a class="btn btn-block red-grad-btn register-btn">Register Now</a>
                                <a class="spec-details-txt" data-toggle="collapse" data-target="@specialDetailsTarget">Details <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="@specialDetailsId" class="col-xs-12 collapse special-details-container">
            <div class="special-amenities col-xs-12 col-sm-6">
                <div class="special-features-heading">
                    <p class="heading h-80">Race Amenities</p>
                </div>
                <div class="col-xs-12 special-details-main">
                    @for (int j = 0; j < 8; j++)
                    {
                        <div class="amenity">
                            <i class="fa fa-exclamation-circle special-icon" aria-hidden="true"></i><span class="special-header">Amenity @j</span>
                            <p class="special-info">Amenity @j 's explination</p>
                        </div>
                    }
                </div>
            </div>
            <div class="special-features col-xs-12 col-sm-6">
                <div class="special-features-heading">
                    <p class="heading h-80">Race Features </p>
                </div>
                <div class="col-xs-12 special-features-main">
                    @for (int j = 0; j < 4; j++)
                    {
                        <div class="feature">
                            <i class="fa fa-exclamation-circle special-icon" aria-hidden="true"></i><span class="special-header">Feature @j</span>
                            <p class="special-info">Feature @j 's explination</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        }
</div>

<!--
    This part uses the Date Range Picker add-on
    found here: http://www.daterangepicker.com
-->
<script type="text/javascript">
    $(function () {
        $('button[name="sales-daterange"]').daterangepicker({
            "autoApply": true
        });

        //since this autoapplies the dates, just use this var to call those values
        //date call ex: dates.startDate = the start date of the picker, dates.endDate = the end date
        var dates = $('button[name="event-daterange"]').data('daterangepicker');

        function SetFilterButtons() {
            if ($(window).width() > 768) {
                $(".sale-btn, .filter-txt").css("height", $(".sales-filter-container").height());
            }
        }
       
        setInterval(function () { SetFilterButtons() }, 1000);
    });
</script>
<!--Sales Page End-->